<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Stantlı Katılım Başvurusu - Saha Expo Savunma &amp; Havacılık Fuarı</title>
  <meta name="description" content="" />
  <meta name="keywords" />
  <meta property="og:title" content="Stantlı Katılım Başvurusu - Saha Expo Savunma &amp; Havacılık Fuarı" />
  <meta property="og:url" content="/tr/stantli-katilim-basvurusu" />
  <meta property="og:image" content="https://cdn.sahaexpo.com" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" />
  <meta property="article:section" content="" />
  <meta property="article:tag" />
  <meta itemProp="name" content="Stantlı Katılım Başvurusu - Saha Expo Savunma &amp; Havacılık Fuarı" />
  <meta itemProp="image" content="https://cdn.sahaexpo.com" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="/tr/stantli-katilim-basvurusu" />
  <meta name="twitter:title" content="Stantlı Katılım Başvurusu - Saha Expo Savunma &amp; Havacılık Fuarı" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image:src" content="https://cdn.sahaexpo.com" />


  </script><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC9328LS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <meta name="next-head-count" content="23" />

  <link rel="stylesheet" href="{{base_path}}/assets/css/_next/daebdf84909b4a06a7cb.css" data-n-g="" />
  <noscript data-n-css=""></noscript>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{{base_path}}/assets/css/app.css" />
  
    {% block custom_style %}{% endblock %}

  <style id="__jsx-4025107420">
    :root {
      --PC50: #d0f2f5;
      --PC75: #98dde3;
      --PC100: #8ad5db;
      --PC300: #6bbfc6;
      --PC400: #65c6cf;
      --PC500: #51a6ad;
      --N900: #1a1a1a;
      --N800: #3b3b3b;
      --N700: #444444;
      --N600: #565656;
      --N500: #676767;
      --N400: #7a7a7a;
      --N300: #9C9C9C;
      --N200: #8B8B8B;
      --N100: #ccd1d9;
      --N50: #e0e3e8;
      --N40: #edeef1;
      --N30: #f4f5f6;
      --N20: #f9f9fa;
      --N10: #f7f7f7;
      --N0: #000000;
      --R50: #FFEBE6;
      --R75: #FFBDAD;
      --R100: #FF8F73;
      --R300: #FF5630;
      --R400: #DE350B;
      --R500: #BF2600;
      --Y50: #f2e8ce;
      --Y75: #f0dcaa;
      --Y100: #ebd091;
      --Y300: #d1bb82;
      --Y400: #D1B05E;
      --Y500: #e8bc4d;
      --G50: #E3FCEF;
      --G75: #ABF5D1;
      --G100: #79F2C0;
      --G300: #36B37E;
      --G400: #00875A;
      --G500: #006644;
      --B50: #9fcef5;
      --B75: #7daad4;
      --B100: #286fc7;
      --B300: #002481;
      --B400: #012170;
      --B500: #051e5e;
      --P50: #EAE6FF;
      --P75: #C0B6F2;
      --P100: #998DD9;
      --P300: #6554C0;
      --P400: #5243AA;
      --P500: #403294;
    }

    .icon {
      font-size: 2rem;
    }
  </style>
</head>
<link rel="icon" href="/favicon.ico" />

<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png" />
<meta name="theme-color" content="#000000" />
<script>
  ! function(e, t, n, s, u, a) {
    e.twq || (s = e.twq = function() {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
      a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
  }(window, document, 'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init', 'oc17j');
  twq('track', 'PageView');
</script>

<body>
  <div id="__next">
    <header id="header" class="header">
      <div class="container container-extended">
        <div class="navbar">
          <div class="logo-area"><a class="logo" href="https://www.sahaexpo.com/tr/ana-sayfa"><img src="{{base_path}}/assets/images/component-27---2.svg" width="200" height="100" alt="" /></a>
            <div class="col-xs">
              <div class="fair-date"><span>05-09</span> <span>MAYIS</span> <span>2026</span></div>
              <div class="fair-name"><span>İstanbul</span> <span>Fuar</span> <span>Merkezi</span></div>
            </div>
          </div>
          <div class="button-group">

            <div class="language-menu">
              <a title="EN">EN</a>
              <a title="TR">TR</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <ul class="social-list">
      <li class="instagram center">
        <a href="https://www.instagram.com/sahaexpo/" rel="nofollow" target="_blank">
          <span aria-label="icon-instagram" class="icon fab fa-instagram" role="img"></span>
        </a>
      </li>
      <li class="twitter center">
        <a href="https://twitter.com/SahaExpo" rel="nofollow" target="_blank">
          <span aria-label="icon-twitter" class="icon fab fa-twitter" data-size="medium" role="img"></span>
        </a>
      </li>
      <li class="facebook center">
        <a href="https://www.facebook.com/sahaexpo" rel="nofollow" target="_blank">
          <span aria-label="icon-facebook" class="icon fab fa-facebook" data-size="medium" role="img"></span>
        </a>
      </li>
      <li class="youtube center">
        <a href="https://www.youtube.com/channel/UC-Aq6HGVC1aHN8d_kd3Aiuw" rel="nofollow" target="_blank">
          <span aria-label="icon-youtube" class="icon fab fa-youtube" data-size="medium" role="img"></span>
        </a>
      </li>
      <li class="linkedin center">
        <a href="https://www.linkedin.com/company/sahaexpo/" rel="nofollow" target="_blank">
          <span aria-label="icon-linkedin" class="icon fab fa-linkedin" data-size="medium" role="img"></span>
        </a>
      </li>
    </ul>

    <div class="hero"><video class="video hero-backdrop" data-testid="video" height="auto" width="100%" src="https://cdn.sahaexpo.com/other/saha-expo-second-day.mp4" autoplay="" loop="" muted="" preload="none" playsinline="">Your browser does not support the video tag.</video>
    </div>
    <div class="kontainer px-5 container-extended">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer" data-fullScreenScroll="false">
      <div class="container container-extended">
        <div class="row">
          <div class="col-xs-12 col-sm-3"><a class="footer-logo" href="https://www.sahaexpo.com/tr/ana-sayfa"><img src="{{base_path}}/assets/images/component-27---2.svg" alt="TGA &amp; KTB Logo" /></a><img src="{{base_path}}/assets/images/saha-istanbul-logo-tr.svg" alt="Saha Istanbul Logo" class="saha-istanbul-logo" /></div>
          <div class="col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-3 address">
                <h5><span>İstanbul</span> <span>Fuar</span> <span>Merkezi</span></h5>
                <p>Yeşilköy, Atatürk Cd. No: 5/5, 34149 Bakırköy/ İstanbul, TÜRKİYE</p><a href="http://www.ifm.com.tr/" rel="nofollow" target="_blank" class="footer-logo"><img src="{{base_path}}/assets/images/ifm-logo.svg" class="saha-istanbul-logo" alt="other/ifm-logo.svg" /></a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <h5>Katılımcı</h5>
                <ul class="footer-nav">
                  <li><a class="footer-nav__anchor" title="Neden Katılmalısınız" href="https://www.sahaexpo.com/tr/neden-katilmalisiniz">Neden Katılmalısınız</a></li>
                  <li><a class="footer-nav__anchor" title="Katılımcı Profili" href="https://www.sahaexpo.com/tr/katilimci-profili">Katılımcı Profili</a></li>
                  <li><a aria-current="page" class="footer-nav__anchor" title="Stantlı Katılım Başvurusu" href="https://www.sahaexpo.com/tr/stantli-katilim-basvurusu">Stantlı Katılım Başvurusu</a></li>
                  <li><a class="footer-nav__anchor" title="Devlet Destekleri" href="https://www.sahaexpo.com/tr/devlet-destekleri">Devlet Destekleri</a></li>
                  <li><a class="footer-nav__anchor" title="Katılımcı İpuçları" href="https://www.sahaexpo.com/tr/daha-verimli-fuar-icin">Katılımcı İpuçları</a></li>
                  <li><a class="footer-nav__anchor" title="Katılımcı Listesi" href="https://www.sahaexpo.com/tr/katilimci-listesi">Katılımcı Listesi</a></li>
                  <li><a href="https://sahaexpo.sedefportal.com/login.php" rel="nofollow" target="_blank" class="footer-nav__anchor" title="Katılımcı Bilgi Giriş Portalı">Katılımcı Bilgi Giriş Portalı</a></li>
                  <li><a class="footer-nav__anchor" title="Konaklama" href="https://www.sahaexpo.com/tr/konaklama">Konaklama</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <h5>Ziyaretçi</h5>
                <ul class="footer-nav">
                  <li><a class="footer-nav__anchor" title="Neden Ziyaret Etmelisiniz" href="https://www.sahaexpo.com/tr/neden-ziyaret-etmelisiniz">Neden Ziyaret Etmelisiniz</a></li>
                  <li><a class="footer-nav__anchor" title="Ziyaretçi Profili" href="https://www.sahaexpo.com/tr/ziyaretci-profili">Ziyaretçi Profili</a></li>
                  <li><a class="footer-nav__anchor" title="Ziyaret Kuralları" href="https://www.sahaexpo.com/tr/ziyaret-kurallari">Ziyaret Kuralları</a></li>
                  <li><a class="footer-nav__anchor" title="Ziyaret Saatleri" href="https://www.sahaexpo.com/tr/ziyaret-saatleri">Ziyaret Saatleri</a></li>
                  <li><a class="footer-nav__anchor" title="Fuar Alanına Ulaşım" href="https://www.sahaexpo.com/tr/fuar-alanina-ulasim">Fuar Alanına Ulaşım</a></li>
                  <li><a class="footer-nav__anchor" title="Konaklama" href="https://www.sahaexpo.com/tr/konaklama">Konaklama</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3">
                <p class="fair-date"><span>05-09</span> <span>MAYIS</span> <span>2026</span></p><a class="stand-enquiry-button style-button" href="https://www.sahaexpo.com/tr/daily">Show Daily</a>
                <ul class="social-list">
                  <li class="instagram"><a href="https://www.instagram.com/sahaexpo/" rel="nofollow" target="_blank"><span aria-label="icon-instagram" class="fab fa-instagram" data-size="medium" role="img"></span></a></li>
                  <li class="twitter"><a href="https://twitter.com/SahaExpo" rel="nofollow" target="_blank"><span aria-label="icon-twitter" class="fab fa-twitter" data-size="medium" role="img"></span></a></li>
                  <li class="facebook"><a href="https://www.facebook.com/sahaexpo" rel="nofollow" target="_blank"><span aria-label="icon-facebook" class="fab fa-facebook" data-size="medium" role="img"></span></a></li>
                  <li class="youtube"><a href="https://www.youtube.com/channel/UC-Aq6HGVC1aHN8d_kd3Aiuw" rel="nofollow" target="_blank"><span aria-label="icon-youtube" class="fab fa-youtube" data-size="medium" role="img"></span></a></li>
                  <li class="linkedin"><a href="https://www.linkedin.com/company/sahaexpo/" rel="nofollow" target="_blank"><span aria-label="icon-linkedin" class="fab fa-linkedin" data-size="medium" role="img"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>Copyright © 2022 Tüm hakları saklıdır. <strong>SAHA EXPO Fuarcılık Hizmetleri A.Ş.</strong></p>
        </div>
      </div>
    </footer>
  </div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="{{base_path}}/assets/js/jquery.mask.js"></script>
  <script src="{{base_path}}/assets/js/custom_script.js"></script>
</body>

</html>